@use '../mixins/responsive.scss' as *;
 #home{
     width: 90%;
     margin-left: auto;
     margin-right: auto;
}
 .home__title{
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     margin-top: 75px;
     color: white;
     padding: 25px;
}
 .home-box{
     @include responsive (desktop){
         display: flex;
         align-items: center;
         width:70%;
         margin-right: auto;
         margin-left: auto;
    }
}
 .home__text{
     color: white;
     text-align: center;
     margin-right: auto;
     margin-left: auto;
     line-height: 27px;
     font-size: 1.3rem;
     width: 80%;
     @include responsive (desktop){
         width: 50%;
         padding: 20px;
         font-size: 1.3rem;
         line-height: 38px;
         text-align: start;
    }
}
.home_text_container {
    @include responsive (desktop){
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 20px;
        flex-direction: column;
        width: 50%;
    }
}
.home__photo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    @include responsive (desktop){
        width: 270px;
        display: block;
   }
}
.my_name {
    color: white;
    text-align: center;
    padding: 13px;
    width: auto;
    @include responsive (desktop){
        width: auto;
        padding: 0px;
        font-size: 1.6rem;
        text-align: center;
   }
 }

 .skills-cloud {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(150px, 0fr));
     grid-gap: 20px;
     justify-content: center;
     align-items: center;
     width:70%;
     margin: 0 auto;
     @include responsive (desktop){
        width:60%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   }
}
 .skill-card {
     background-color: rgba(56, 56, 56, 0.8);
     border-radius: 5px;
     padding: 10px;
     text-align: center;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     color: rgb(255, 255, 255);
     transition: background-color 0.2s ease-in-out;
}
 .skill-card img {
     width: 50px;
     height: 50px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 10px;
}
 .skill-card:hover {
     background-color: rgba(72, 63, 236, 0.8);
}
 
.skill-card--big{
    font-size: 0.8rem;
    display: none;
    @include responsive (desktop){
        display: flex;
    }
}

.icon-containers{
    padding: 13px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    @include responsive (desktop){
        padding: 5px;
   }
}

.icon__links{
    font-size: 1.8rem;
    color: white;
}

.contact_me{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 75px;
    color: white;
    padding: 25px;
}

.icons{
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 60%;
    justify-content: center;
}

.icon__links_2{
    font-size: 3rem;
    color: white;
    @include responsive (desktop){
        font-size: 7rem;
    }
}