@use '../mixins/responsive.scss' as *;

.projects-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    @include responsive(mobile) {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.project-1, .project-2, .project-3, .project-4{
    flex: 1;
    background-color: rgba(56, 56, 56, 0.8);
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

.project-1:hover, .project-2:hover, .project-3:hover, .project-4:hover {
    background-color: rgba(72, 63, 236, 0.8);
}
